{% extends 'layout.html.twig' %}
{% block title %}Администрирование{% endblock %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
Соси
        </div>
    </div>
{% endblock %}