{% extends 'layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}Регистрация пользователя{% endblock %}
{% block content %}
    <div class="row justify-content-md-center">
        <div class="col-md-auto">

            {{  form(form) }}
        </div>
    </div>
{% endblock %}